* {
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.send-block form {
    display: flex;
    flex-flow: column wrap;
}
.send-block {
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 10px;
}


textarea {
    display: block;
    border: 1px solid #000;
    height: 100px;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #000;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border: none;
    background: #000;
}

.get {
    display: inline-block;
    width: auto;
    margin: 5px 10px 5px 0;
    padding: 0 10px;
}

ul {
    min-height: calc(100vh - 430px);
    overflow-y: scroll;
    border: 1px solid #000000;
    padding: 5px;
}

ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.right_message p:not(:last-child) {
    margin-bottom: 5px;
}

.right_message p.autor {
    font-size: 14px;
    font-weight: bold;
}

.right_message p b {
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
}

.right_message .message {
    font-size: 14px;
    font-style: italic;
}

.right_message .date {
    font-size: 12px;
}

ul li img {
    width: 100px;
    height: auto;
    display: block;
    margin-right: 20px;
    flex-shrink: 0;
}

ul li:last-child {
    margin-bottom: 0;
}

span.autor {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: red
}

p.text {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 18px;
}

.get.date {
    font-size: 14px;
    height: auto;
    padding: 5px 10px;
    text-transform: capitalize;
}

.buttonImage {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    background: red;
    color: #ffffff;
    width: 180px;
    text-align: center;
}

.previewImg {
    width: 150px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}